<div class="container" [contextMenu]="basicMenu">
    <mat-toolbar color="primary">My Documents</mat-toolbar>
    <div class="folder-wrapper">
        <div class="folder" *ngFor="let item of items;">
            <mat-icon color="accent">{{item.icon}}</mat-icon>
            <small>{{item.name}}</small>
        </div>
    </div>
</div>

<context-menu>
    <ng-template contextMenuItem (execute)="addItem('folder')">
        <mat-icon>add</mat-icon>
        <span>New folder</span>
    </ng-template>
    <ng-template contextMenuItem (execute)="addItem('file')">
        <mat-icon>add</mat-icon>
        <span>New file</span>
    </ng-template>
</context-menu>